# Database
DATABASE_URL="postgresql://user:password@localhost:5432/elsharawy_store?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-this-to-a-long-random-string"

# Admin default (سيتم تغييره لاحقاً)
ADMIN_EMAIL="admin@elsharawy.com"
ADMIN_PASSWORD="change-me"

# Upload (لاحقاً)
# UPLOADTHING_TOKEN=""
# CLOUDINARY_URL=""
